body{
    height: 100vh;
    align-content: center;
    background-color: lightskyblue;
    color: white;
}

.button-square-200 {
    width: 200px;
    height: 200px;
}

.button-hover-blue:hover{
    background-color: #106EFD    ;
}