/* popover */
@media only screen and (max-width: 576px) {
    .popover {
        max-width: 300px;
        background-color: rgb(250, 250, 250)
    }

    #dateTimeWidget {
        width: 260px;
    }
}

@media only screen and (min-width: 576px) {
    .popover {
        max-width: 556px;
        background-color: rgb(250, 250, 250)
    }

    #dateTimeWidget {
        width: 516px;
    }
}

.popover-body {
    padding: 20px; 
}

/* widget */
#dateTimeWidget {
    /* outline: solid black; */
    font: bold 14px monospace; 
}

#dateTimeWidget #dateSelectorDiv .btn-outline-primary:not(.outline) {
    border: 0;
}

#dateTimeWidget .calendarDay label:has(input.notInMonth) {
    opacity: .50;
}

#dateTimeWidget label:has(input[disabled]) {
    pointer-events: none;
    filter: none;
    opacity: .65;
}

#dateTimeWidget .calendarDay label:has(input:checked) {
    color: white;
    background-color: #0d6efd;
}

#dateTimeWidget .calendarDay label:has(input:disabled) {
    background-color: rgb(200, 200, 200);
}







/* date */
#dateTimeWidget #daySelector {
    margin-top: 10px;
    width: 100%;
}

#dateTimeWidget .calendarDay, #dateTimeWidget .weekday {
    padding:1px;
    width: 40px;
    text-align: center; 
}

#dateTimeWidget .calendarDay label {
    aspect-ratio: 1 / 0.8;
    padding: 0px;
    width: 100%;
}

#dateTimeWidget .calendarDay input[type="radio"] {
    width: 0px;
}

#dateTimeWidget #timeSelectorDiv label {
    width: 100%;
    padding: 0px;
}

#dateTimeWidget #timeSelectorDiv label:has(input:checked) {
    color: white;
    background-color: #0d6efd;
}