.compartment {
    min-width: 96px;
    max-width: 120px;
    position: relative;
    padding: 0;
    margin: 0 1px;
}

#truckFront {
    width: 100px;
}

option:disabled {
    background-color: #e9ecef;
}

.fuelTypeText  {
    text-align: justify;
    font-weight: bold;
    font-size: max(min(12px, 3vw), 11px);
    height: 40px;
    background-color: #b5b5b58e;
    
}
/*   
.compartment [marked="true"]::after {
    content : "<div></div>";
    position: absolute;
} */

#trailer:has(option:disabled:checked:not(:default)) {
    /* background-color: #fff4f496; */
    box-shadow: 0 0 5px red;
}

.compartment:has(option:disabled:checked:not(:default)) {
    /* background-color: #fff4f496; */
    box-shadow: 0 0 5px red;
}
