.backgroundImg {
    background-image: url('../images/ScampTruck.jpg');
    background-position: right ;
    background-size: cover;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .backgroundImg {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

body {
    height: 100vh;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px 1px;
}
