#navbar span{
    color: black;

}

@media only screen and (max-width: 577px) {

    #navbar {
        gap: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    #navbar img {
        width: 100%;
        max-width: 64px;
    }

    #navbar span {
        font-size: 0.7rem;
    }

    #navbar li {
        flex: 1 1 auto;
    }

}

@media only screen and (min-width: 578px) and (max-width: 992px) {

    #navbar {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    #navbar img {
        height: 100%;
        max-height: 60px;
        padding-right: 10px;
    }


}

@media only screen and (min-width: 993px) {

    #navbar {
        justify-content: flex-start !important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    #navbar li{
        flex-basis: auto;
        flex-grow: 0;
    }

    #navbar img {

        height: 100%;
        max-height: 40px;
        padding-right: 10px;
    }

}